/* INFORMATIONS DOCUMENT: 
    - Nom : ??? 
    - Auteur : Julian 
    - Version : 1.0.0   
*/

/* COULEURS : 
    - h1:#eee
    - h2: #333333
    - h3:

    -button
    -button : hover

    -icon : rgb(9, 145, 9)

    -border
*/


/* POLICES : 
    - defaut : lato
    -sous titres
    -
*/

/* SOMMAIRE:
    1. =GLOBAL

    2. =HEADER

    3. =Produits
*/


/* GLOBAL
################################# */

html {
    background-color: #fff;
}

h1, h2, h3, h4{
    font-family: 'lato','Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 300;
    word-spacing: 8px;
}

h1 {
        color:#eee;
        letter-spacing: -1px;
        font-weight: 300;
        word-spacing: 8px;
}
h2 {
    color:#333333;
    font-size: 250%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
h2:after{
    display: block;
    height: 2px;
    background-color: green;
    width:100px;
    content:"";
    margin:0 auto;
    margin-top: 10px;
}
h3{
    font-size: 160%;
}

p{
font-size: 12px;
font-weight: 300;
line-height: 24px;
}
section {
    padding:30px 0 60px 0;
}

/* HEADER
################################## */

header{
    background-image:linear-gradient(   rgba(0,242,96,0.4),
                                        rgba(7,117,230,0.6)
                                    ), 
                                    url(../image/header.jpg);
    height:100vh;
    background-position: center;
    background-size: cover;
}

.home-title {
    position:absolute;
    top:30%;
}

.home-title h1 {
    font-size: 340%;
    color: #fff;
}

.home-title h1 span {
    font-weight: 700;
}
.home-title p {
    color:#fff;
}

#monMenu {
    margin-right: 10vw;
}
/* Button ======================================== */

.btn {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 1s, color 1s, border 1s;
}

.btn-full {
    background-color: azure;
    color:rgb(46, 204, 101);    
    margin-right: 15px;
}

.btn-ghost {
    border:1px solid #fff;
    color:#fff;
}

.btn-full:hover{
    background-color: rgb(57, 202, 108);
    color:#fff
}
.btn-ghost:hover{
    background-color: rgb(57, 202, 108);;
    border:1px rgb(57, 202, 108) solid; 
    color:#fff
}



/* PRODUITS
################################## */

.produits-plus {
    margin:20px 0;
}

.produits-plus :hover .produits-icon {
    color:#575757;
    transform: translateX(20px);

}
.produits-img {
    max-width: 100%;
    height: auto;
}

.produits-icon {
    font-size: 34px;
    color:rgb(9, 145, 9);
    transition: all 1s;
}


/* FAMILLE THE
################################## */

.famille-the {
    background-color:  #cdf6e1;
}

.famille-details {
    background-color: rgba(255, 255, 255, 0.772);
    padding:40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0,0,0.3);
}
.famille-details img {
    display: block;
    margin:0 auto;
    width:80%
}
.famille-details h4 {
    text-align: center;
}

/* GALERIES PHOTOS
################################## */

.galeries-img {
    display: block;
    position:relative;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0,0,0.3);
    margin-bottom: 30px;
}

.col-md-8 .galeries-img {
    background-position: center;
}

.galeries-titre {
    position: absolute;
    bottom:20px;
    left: 30px;
    z-index: 2;
}
.galeries-titre h4 {
    color: #fff;
}

/* AVIS CLIENTS
################################## */

.clients {
    background-image:linear-gradient(   rgba(0,242,96,0.4),
                                        rgba(7,117,230,0.6)
                                    ), url(../image/the-paysage.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.clients h2 {
    color: #fff;
}

.clients h2::after {
    background-color: #fff;
}

blockquote {
    padding:5px;
    font-style: italic;
    line-height: 130%;
    color:#fff;
    position:relative
}
blockquote::before {
    content:"\201C";
    font-size: 800%;
    font-family: 'Sanchez', serif;
    position : absolute ;
    top: 26px;
    left:-38px;
    color: rgba(255,255,255,0.6)
}
cite {
    font-size: 90%;
    display: block;
    margin-top: 20px;
}
cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


/* PACKS
################################## */
.section-pack {
    background-color: rgba(237, 232, 232, 0.813);
}

.pack {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.pack h3 {
    color: green;
    font-weight: 505;
}

.pack h4 {
    font-size: 200%;
    font-weight: 100;
    position: relative;
}

.pack span {
    font-weight: 100;
    font-size: 40%;
    margin-left: 10px;
    position:absolute;
    left: 47px;
    top:5px
}
.pack-premium {
    background-color:  #1fbe51be;
    color: rgb(237, 232, 232);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3) !important;


}
.pack-premium .pack-title {
    border-bottom: 2px solid rgba(236, 228, 228, 0.849) ;
}
.pack-title-premium {
    font-size: 14px;
    position:absolute;
    top:10px;
    right: 10px;
    background-color: #fff;
    color:green;
    border-radius: 10px;
    padding: 5px;
}

.pack-title {
    padding: 10px 10px 0 10px;
    border-bottom: 2px solid rgba(122, 117, 117, 0.5) ;
    position: relative;
}

.pack-content ul {
    list-style: none;
    padding:20px;
    font-weight: 300;
    line-height: 35px;
}
.pack-content ul li i {
    font-size: 90%;
    margin-right: 10px;
}
.pack-signup {
    text-align: center;
}

button:hover{
    background-color: rgba(0,242,96,0.6);
    transition: all 1s;
    color:#22262450;
}
button {
    border:green;
    border-radius: 10px;
    width:130px;
    background-color: green;
    color:#fff;
    margin-bottom: 20px;
}

/* CONTACTS
################################## */

.contact1{
    display: flex;    
    justify-content:space-around;
}

/* .col-md-1 {
    background-image:url(../image/leaf2.jpg);
    background-position: center;
    background-color: transparent;
} */

.contact-form {
    margin-bottom: 30px;
}
.contact-message{
    width: 100%;
}


.contact-form button {
    border:green;
    border-radius: 10px;
    width:130px;
    background-color: green;
    color:#fff;
    margin-bottom: 20px;
}
.contact-form button:hover{
    background-color: rgba(0,242,96,0.6);
    transition: all 1s;
    color:#22262450;
}

/* FOOTER
################################## */

footer {
    background-color: rgb(43, 43, 43);
    color:#fff;
    height: 60px;
    padding:20px 20px;
}

.copyright {
    text-align: center;
}

.copyright a{
    color: #fff;
}
